*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #6f1d1b;
}

.container{
    min-height: 45vh;
    width: 40vh;
    background-color: #bb9457;
    padding: 2rem;
    border-radius: 1rem;
}

form{
    margin: 2rem 0 1rem 0;
}

form select, input, button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form select{
    background-color: #bb9457;
    font-size: 1rem;
    width: auto;
}

form input{
    background-color: #bb9457;
    border: 1px solid #432818;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container img{
    max-width: 2rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid #432818;;
}

#msg{
    margin: 2rem 0 2rem 0;
}

form button{
    height: 3rem;
    background-color: #432818;
    color: #bb9457;
    font-size: 1.15rem;
    cursor: pointer;
}